@import "_media.scss";

/*
  COLORS
*/
$lightblack: #242629;
$black: #16161a;
$darkblack: #010101;

$white: #fffffe;

$primary: #7f5af0;
$secondary: #72757e;
$secondary-alt: #94a1b2;
$tertiary: #2cb67d;

/*
  SPEEDS
*/
$fast: 0.2s;
$normal: 0.3s;
$slow: 0.5s;
